.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1))
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }

    .btn {
        background-color:#212529;
        border-radius: 50px; 
        color: white;
        align-content: center;
        border: none;
        font-size: 17px;
    }
    
    .btn:hover {
        background-color: #06498b;   
    }
    
    .link-primary {
        text-decoration: none;
        color: #212529;
    }
    
    .link-primary:hover{
        color: #06498b;
    
    }
    
    .form-control{
        /* border: 1px solid #8b7e757a; */
        background-color: #a1a3a598;
        color: white; 
        border-radius: 30px; 
        padding: 10px; 
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }
    
    .bg {
        width: 100vw;
      min-height: 100vh;
        background-color: #4d4f51;
    }
    
    .card{
        margin-top: 130px;
        padding-top: 80px;
        padding-bottom: 30px;
    }
    