<div class="footer-top">
<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-5 item text">
            <h2 class="logo-text text-center">INA</h2>
            <p  class="text-gray text-center" > Find us!</p>
            <div class="social-icons-1 text-center social item">
              <a href="https://www.facebook.com/" class="fa-brands fa-facebook"></a>
              <a href="https://www.youtube.com/" class="fa-brands fa-youtube"></a>
            </div>
          </div>
          <div class="col-md-2 item">
            <h3 class="title-sm">Navigation</h3>
            <!-- <div class="footer-links"> -->
              <ul>
              <li><a href="#">Services</a></li>

              <li><a href="#">Our work</a></li>
              <li><a href="#">Our team</a></li>
              <li><a href="#">Blog</a></li>
              </ul>
            <!-- </div> -->
          </div>
          <div class="col-md-2 item">
            <h3 class="title-sm">More</h3>
            <!-- <div class="footer-links"> -->
              <ul>
                <li><a href="#">FAQ's</a></li>
                <li><a href="#">Privacy & Policy</a></li>
                <li><a href="#">Licences</a></li>
            </ul>
            <!-- </div> -->
          </div>
          <div class="col-md-2 item">
            <h3 class="title-sm">Contact</h3>
            <div class="footer-links">
              <ul>
              <li>ul. Piastowska 23</li>
              <li> 63-700 Krotoszyn</li>
              <li>tel. 883 074 274</li>
              <li>ina@gmail.com</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    <div class="footer-bottom">
      <div class="container">
        <div class="row">
          <div class="col-md-6 item">
            <p class="mb-0">Zuzanna Jagodzińska & Mateusz Grześkowiak & Konrad Dzięcioł & Mateusz Goździak 2022</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>
