p{
    text-align: center;
    font-size: 120px;
    font-weight: 700;
    letter-spacing: 2px;
    padding: 20px;
    margin-top: 200px;
    margin-bottom: 200px;
}

i{
    color: #000;
      display: table-cell;
      vertical-align: middle; 
      text-align: center; 
}