

/*LANDING PAGE --- SECTION */

#home{
    background: linear-gradient(to top, rgba(93, 106, 131, 0.445) 20%, rgba(241, 240, 240, 0.295) 86%), url(../photos/photo-landing.jpg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

#home h1{
    font-weight: 700;
    font-size: 100px;
}

#home p{
    max-width: 550px;
    margin: 18px auto;
    font-size: 20px;
}

.btn {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    padding: 12px 28px;
    border-radius: 0;
    font-family: var(--font-base), sans-serif;
    font-size: 15px;
    transition: all 0.4s ease;
}
section{
    padding-top: 100px;
    padding-bottom: 100px;
    
}

.btn-brand {
    background-color: #212529;
    color: rgb(255, 255, 255);  
    border-radius: 50px;
}

.btn-brand:hover {
    background-color: #06498b;
    color: rgb(255, 255, 255);
}

/* CARUSEL --- SECTION */

.img-carousel {
    max-width: 1600px;
    height: auto;
    border-radius: 100%;
    display: flex;
    /* overflow: hidden; */
    position: relative;
}

h2{
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
}

.product-img{
    width: 350px !important;
    height: 350px !important;
}

.product-area {
    position: relative;
    overflow: hidden;
    padding-bottom: 20px;
    width: 350px !important;
    height: 350px !important;
}

.product-area .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #7b88aca4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.4s ease;
    width: 350px !important;
    height: 350px !important;
}

.product-area .overlay-button {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #7b88aca4;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: all 0.4s ease;
    width: 350px !important;
    height: 350px !important;
}

.product-area img {
    transition: all 0.4s ease;
    height: auto;
    object-fit: cover;
    width: 350px !important;
    height: 350px !important;
}

.product-area .overlay p{
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 6px;
}

.product-area:hover .overlay {
    opacity: 1;
}

.product-area:hover img{
    transform: scale(1.1);
    width: 350px !important;
    height: 350px !important;
}

.price{
    text-align: center;
    font-weight: 600;
  }

  .DisPrice{
    text-align: center;
    font-weight: 600;
    color: #b80028;
  }

  .go-to{
    background-color: #212529;
    color: rgb(255, 255, 255);  
    border-radius: 30px;
    border: none;
}

.go-to:hover{
    background-color: #06498b;
    color: rgb(255, 255, 255);
}

.btn-basket{
    background-color: #212529;
    color: rgb(255, 255, 255);  
    border-radius: 30px;
    border: none;
}

.btn-basket:hover{
    background-color: #06498b;
    color: rgb(255, 255, 255);
}
