.btn{
    background-color: #CD853F;
    border-color: #CD853F;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
    margin-bottom: 2%;
    border-radius: 6px; 
}

.margin{
    margin-left: 1%;
}

.margin-top{
    margin-top: 1%;
}

input{
    text-align:center;
 }